section > header.top {
  height: 140px;
  background: #E20613;
  border-bottom: 5px #009245 solid; }
  section > header.top > img {
    right: 85px;
    top: 45px;
    position: absolute; }

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat-y;
  background-position: 50% 92%;
  background-attachment: fixed; }

body > header {
  background-image: url(../img/menuBack.png);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: 100% 177px;
  width: 100%;
  min-height: 177px;
  top: 0;
  position: fixed;
  z-index: 1000; }
  body > header nav.navbar {
    background: none;
    border: none;
    color: black; }
    body > header nav.navbar.navbar-default .navbar-nav > li > a {
      color: black; }
  body > header .navbar-header img {
    margin-top: 25px;
    margin-left: 15px; }
  body > header .collapse.in, body > header .collapsing, body > header .navbar-header-selected {
    border: none;
    background: white; }
  body > header b {
    font-weight: normal; }

main {
  margin-top: 65px;
  padding-bottom: 15px;
  background: white; }

.home img.fondo {
  width: 100%;
  height: auto;
  margin-top: -15px; }

.lista-empacados header ul {
  list-style: none;
  position: absolute;
  bottom: -40px;
  padding-left: 0; }
  .lista-empacados header ul li {
    float: left;
    position: relative;
    width: 120px;
    height: 60px; }
    .lista-empacados header ul li.active {
      border-bottom: 5px red solid; }
    .lista-empacados header ul li img {
      bottom: 5px;
      position: absolute; }
.lista-empacados .lista {
  margin-top: 100px; }
  .lista-empacados .lista .producto {
    display: inline-block;
    float: left;
    width: 32%; }
    .lista-empacados .lista .producto:nth-child(n) {
      margin-bottom: 2%;
      margin-right: 2%; }
    .lista-empacados .lista .producto:nth-child(3n) {
      margin-right: 0;
      margin-bottom: 0; }
    @media (max-width: 992px) {
      .lista-empacados .lista .producto {
        width: 49%; }
        .lista-empacados .lista .producto:nth-child(n) {
          margin-bottom: 2%;
          margin-right: 2%; }
        .lista-empacados .lista .producto:nth-child(2n) {
          margin-right: 0;
          margin-bottom: 0; } }
    @media (max-width: 360px) {
      .lista-empacados .lista .producto {
        width: 100%; }
        .lista-empacados .lista .producto:nth-child(n) {
          margin-bottom: 2%;
          margin-right: 2%; }
        .lista-empacados .lista .producto:nth-child(1n) {
          margin-right: 0;
          margin-bottom: 0; } }
    .lista-empacados .lista .producto img {
      width: 100%; }

.single-empacados header {
  height: 140px;
  background: #E20613;
  border-bottom: 5px #009245 solid; }
  .single-empacados header > img {
    right: 85px;
    top: 45px;
    position: absolute; }
.single-empacados .producto {
  margin-top: 100px; }

.granel-list .list {
  margin-top: 140px;
  background: url('../img/granel-back.jpg') no-repeat right;
  height: 595px; }
.granel-list footer {
  position: fixed;
  bottom: 20px;
  text-align: center; }
  .granel-list footer ul {
    background-color: rgba(7, 153, 72, 0.9);
    padding: 20px 70px 20px 70px;
    list-style: none;
    text-align: center; }
    .granel-list footer ul li {
      margin-right: 6px;
      display: inline-block; }
      .granel-list footer ul li:before {
        content: ' ';
        width: 13px;
        height: 13px;
        background: #F7931E;
        border-radius: 50%;
        border: 1px white solid;
        float: left;
        margin-top: 3px;
        margin-right: 6px; }
      .granel-list footer ul li a {
        text-transform: uppercase;
        float: left;
        display: inline-block; }
      .granel-list footer ul li a, .granel-list footer ul li a:hover, .granel-list footer ul li a:active, .granel-list footer ul li a:focus {
        color: white;
        text-decoration: none; }
