.single-empacados{

    header{

        height: 140px;
        background: #E20613;
        border-bottom: 5px #009245 solid;

        & > img{
            right: 85px;
            top: 45px;
            position: absolute;
        }

    }

    .producto{
        margin-top: 100px;

    }

}
